$primary: #FFD600;
$secondary: #03BD70;
$gray-text : rgba(#333, .5);
$gray-bg: #E5E5E5;
$black: #000;
$white: #fff;
$line-color: rgba(#fff, .2);


$border-radius-m: 5px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1350px;
$breakpoint-xxl: 1450px;
$breakpoint-container: 1280px;
