.nav__item {
    flex-grow: 1;
    height: 100px;

    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 1px solid $line-color;
    & .link {
        text-align: center;
    }

    @media (max-width:$breakpoint-lg) {
        height: 60px;
        font-size: 11px;
    }
}

.nav__item--header {
    flex: 0 1 133px;
    & .link {
        display: block;
        line-height: 100px;
        width: 100%;
        height: 100%;

        @media (max-width:$breakpoint-lg) {
            line-height: 60px;
        }
    }
}


.nav__item:hover .link {
    color: $primary;
}