.select {
    appearance: none;
    border-radius: 5px;
    border: none;
    text-indent: 20px;
    color: rgba(51, 51, 51, 0.5);
    padding: 15px 0px;
    font-size: 14px;
    width: 100%;
    background-color: #E5E5E5;
    background-image: url(../images/icon/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 19px center;
    background-size: 13px 8px;
}