.textarea {
    background-color: #E5E5E5;
    border-radius: 5px;
    border: none;
    line-height: 19px;
    color: #333333;
    padding: 20px;
    display: block;
    width: 100%;
    min-height: 120px;
    @media (max-width: $breakpoint-md) {
        padding: 15px 20px;
    }
}